<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type=text/css href='{{ static_url("css/bootstrap.min.css")}}'>

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='{{ static_url("js/jquery-3.1.1.min.js")}}'></script>
<script src='{{  static_url("js/highcharts.js")}}'></script>
<!-- <script src='/static/js/ajax.js' ></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src='{{ static_url("js/bootstrap.min.js")}}'></script>
<script src='{{  static_url('js/jquery_file_download.js')}}'></script>
<div class="bs-example" data-example-id="nav-tabs-with-dropdown" style='background-color:#FFF8D2;font-color:red;'>
    <img src="{{static_url('image/banner.jpg')}}">
</div>

<div id="privi_check"></div>

    <style type="text/css">
        .container {
            padding-right: 35px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .login {
            width: 18%;
            margin-left: 550px;
            margin-right: auto;
        }

        input {
            width:: 10%;
        }
    </style>
    <!-- 接口web控制台管理 -->
    <div>
        <h3>字段列表</h3>
        {% for field in fields %}
            <div><span>{{field}}</span></div>
        {% end %}
        <p>添加字段:</p>

    </div>
</body>
<hr/>
</html>