
<!DOCTYPE html>
<html>
<head>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type=text/css href='{{ static_url("css/bootstrap.min.css")}}'>

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='{{ static_url("js/jquery-3.1.1.min.js")}}'></script>
<script src='{{  static_url("js/highcharts.js")}}'></script>
<!-- <script src='/static/js/ajax.js' ></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src='{{ static_url("js/bootstrap.min.js")}}'></script>
<script src='{{  static_url('js/table_init.js')}}'></script>
        <script src="{{  static_url('js/bootstrap-table.js')}}"></script>
    <link type="text/css" href='{{  static_url("css/bootstrap-table.css")}}' rel="stylesheet" />
    <script src="{{  static_url('js/bootstrap-table-zh-CN.js')}}"></script>
        <script src="{{  static_url('js/bootstrap-table-editable.js')}}"></script>
         <script src="{{  static_url('js/bootstrap-editable.js')}}"></script>
        <link href="{{  static_url('css/bootstrap-editable.css')}}" rel="stylesheet" />
</head>
<body>
{#    <div class="panel-body" style="padding-bottom:0px;">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">查询条件</div>#}
{#            <div class="panel-body">#}
{#                <form id="formSearch" class="form-horizontal">#}
{#                    <div class="form-group" style="margin-top:15px">#}
{#                        <label class="control-label col-sm-1" for="txt_search_departmentname">字段名称</label>#}
{#                        <div class="col-sm-3">#}
{#                            <input type="text" class="form-control" id="txt_search_departmentname">#}
{#                        </div>#}
{#                        <label class="control-label col-sm-1" for="txt_search_statu">字段值</label>#}
{#                        <div class="col-sm-3">#}
{#                            <input type="text" class="form-control" id="txt_search_statu">#}
{#                        </div>#}
{#                        <div class="col-sm-4" style="text-align:left;">#}
{#                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div id="toolbar" class="btn-group">#}
{#            <button id="btn_add" type="button" class="btn btn-default">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增#}
{#            </button>#}
{#            <button id="btn_edit" type="button" class="btn btn-default">#}
{#                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改#}
{#            </button>#}
{#            <button id="btn_delete" type="button" class="btn btn-default">#}
{#                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除#}
{#            </button>#}
{#        </div>#}
{#        <table id="tb_departments"></table>#}
{#    </div>#}
<section class="panel">
                        <header class="panel-heading">
                            接口字段数据列表
                        </header>
                        <div id="toolbar" style="margin: 10px">
                            <section class="panel">
                                <div class="panel-body">
                                    <form class="form-inline">
                                        <button id="remove" class="btn btn-danger" disabled>
                                            <i class="glyphicon glyphicon-trash"></i> 批量删除
                                        </button>
                                        <div class="form-group">
                                            <input  class="form-control" id="keyInp" placeholder="输入字段名称" style="display: none">
                                        </div>
                                        <div class="form-group"  >
                                             <input  class="form-control" id="valueInp" placeholder="输入字段值" style="display: none">
                                        </select>
                                        </div>
                                        <a id="add" class="btn btn-success">
                                            <i class="glyphicon glyphicon-plus"></i> 新建
                                        </a>
                                        <a id="cancel" class="btn btn-warning" style="display:none">
                                            <i class="icon icon-remove-circle">取消</i>
                                        </a>
                                        <span class="remind"></span>
                                    </form>
                                </div>
                            </section>
                        </div>
                        <table id="interFields">
                        </table>
                    </section>
</body>
{#</html>#}